/* variables */
:root {
    --almost-white: #FAFAFA;
    --main-dark: #151515;
    --main-grey: #8E8E8E;
    --second-grey: #475569;
    --accent: #0e42c5;
    /* --second-accent: #ff7f50; */
    --second-accent: #ff715b;
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Main-font, sans-serif;
    scroll-behavior: smooth;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* reusable styles */

.wrapper {
    max-width: 1230px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 10px;
}

.grid {
    display: grid;
}

.spacer>*+* {
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    display: block;
}


section:not(#home) {
    padding-block: 4rem;
    padding-bottom: 3rem;
    text-align: center;

}

.section-heading {
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 40px;
    width: max-content;
    margin-inline: auto;
}

.section-heading::after {
    content: "";
    text-align: center;
    position: absolute;
    display: block;
    height: 4px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--second-accent);
    background-color: var(--second-grey);
}

/* base styles */
.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: all 300ms ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.inverse {
    background-color: var(--almost-white);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--almost-white);
}

.inverse .navbar .hamburger .bar {
    background-color: var(--main-dark);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    /* font-size: 1.6rem; */
    font-weight: 400;
    color: var(--almost-white);
    position: relative;
}


.inverse .navbar .nav-menu li a {
    color: var(--second-grey);
}

.nav-link:hover {}

.nav-logo {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--almost-white);
}

.inverse .nav-logo {
    color: var(--main-dark);
}

.scroll-disabled {
    overflow-y: hidden;
}

.scroll-down header {
    transform: translate3d(0, -110px, 0);
}

.scroll-up header.inverse {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    /* box-shadow: ; */
}


#home {
    min-height: 100vh;
    max-height: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image:
        url(../img/cover.jpg);
    background-color: #444;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--second-accent);
    color: rgb(255, 128, 82);
    border-radius: 4px;
}

.socials {
    position: absolute;
    display: none;
    bottom: 0;
    left: 40px;
}

.socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: var(--almost-white);
    margin: 0 auto;
}

.socials li {
    margin-bottom: 20px;
}

.socials li a {
    display: block;
}

.social-link {
    color: var(--almost-white);
    transition: all 250ms ease-in-out;
}


.social-link:hover {
    transform: scale(1.03);
    color: var(--second-accent);
}

.hero-text {
    color: var(--almost-white);
}

.hero-text p {
    max-width: 550px;
}

.heading {

    font-size: clamp(1.2rem, 1rem + 5vw, 3.5rem);
    color: var(--almost-white);
}


/* portfolio */
.projects {
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    padding-inline: 10px;
}

.projects div {
    border-radius: 10px;
}

.project-img {
    overflow: hidden;
    position: relative;

}


.project-img img {
    transition: all 0.4s ease;
}

.project-img img:hover {
    scale: 1.1;
}


.contact-form {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    /* width: 400px; */
    max-width: 400px;
    margin-inline: auto;
}

.contact-input {
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600px;
    border: 2px solid var(--main-dark);
    outline: none;
}

.contact-form input[placeholder="Name"] {
    grid-column: span 2;
}
.contact-form input[placeholder="Email"] {
    grid-column: span 2;
}

.contact-form textarea.contact-input {
    grid-column: span 2;
    grid-row: span 4;
}

.message-btn {
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--second-accent);
    grid-column: 2;
}



/* footer styles */
footer {
    width: 100%;
    padding: 50px 10px;
    padding: 2rem clamp(1rem, 7vw, 200px);
    background-color: var(--second-accent);
    background-color: var(--second-grey);
}

footer .wrapper {
    display: flex;
    justify-content: space-between;

}


/* font styles */
@font-face {
    font-family: Main-Font;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: 100 950;
    font-stretch: 75% 125%
}

/* media queries */
@media screen and (max-width: 480px) {
    .wrapper {
        padding-inline: 25px;
    }

    #home {
        background-position: center;
    }
}


@media screen and (min-width: 576px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-top: 2rem;
    }
}

@media screen and (min-width: 768px) {

    .nav-link::after {
        content: "";
        position: absolute;
        display: block;
        height: 0.4em;
        width: 0;
        bottom: -25px;
        background-color: coral;
        border-radius: 4px;
        transition: width 300ms ease-in-out;
    }

    .inverse .navbar .nav-menu .nav-link:hover::after {
        width: 100%;
    }

    .socials {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 10px !important;
    }

    .nav-menu {
        position: fixed;
        right: -110%;
        top: 59px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        height: calc(100vh - 59px);
        justify-content: center;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-link {
        color: var(--second-grey);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}

@media screen and (min-width: 990px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}