#root {
    width: 100%;
    /* overflow-y: scroll; */
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.scroller {
    height: 100dvh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    &>section {
        scroll-snap-stop: always;
        scroll-snap-align: center;
    }
}

#hero {
    /* background-image: linear-gradient(to bottom, transparent 60%, #0f172a), url('./assets/images/pattern-dark-bg.svg') */
    background-image: linear-gradient(to bottom, transparent 60%, #113537), url('./assets/images/pattern-dark-bg.svg')
}